{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

    {% block head %}
    <title>Edit Account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/forms.css' %}">

    {% endblock %}

  <body>
    {% block content %}
    <main>
      <div class="form-box">
        <div class="inside">

          <div class="heading">
            <h2>Edit Account</h2>
          </div>

          <div class="question">
            <span>Edit which details about your account you want to change, enter the old details for the rest.</span>
          </div>

          <div class="form">
            <form class="" id="form" action="edit" method="post">
              <div class="inputs">

              {% csrf_token %}
              <div class="names">
                <div  class="inputf">
                  <label for="fname">First Name</label><br>
                  <input type="text" id="fname" name="fname" class="input" required>
                </div>
                <div class="inputf">
                  <label for="lname">Last Name</label><br>
                  <input type="text" id="lname" name="lname" class="input" required>
                </div>
              </div>

              <div class="username">
                <label for="uname">Username</label><br>
                <input type="text" id="uname" name="uname" class="input" required>
                {% if messages %}
                {% for message in messages %}
                  {% if message.extra_tags == "username" %}
                    <div class="msg">
                      <i class="fa-solid fa-circle-exclamation"></i> <span>{{message}}</span>
                    </div>
                  {% endif %}
                {% endfor %}
                {% endif %}
              </div>

              <div class="email">
                <label for="email">Email</label><br>
                <input type="text" id="email" name="email" class="input" required>
                {% if messages %}
                {% for message in messages %}

                  {% if message.extra_tags == "email" %}
                    <div class="msg">
                      <i class="fa-solid fa-circle-exclamation"></i> <span>{{message}}</span>
                    </div>
                  {% endif %}

                {% endfor %}
                {% endif %}
              </div>
              </div>

              <!-- <div class="password">
                <div class="inputf">
                  <label for="password">Password</label><br>
                  <input type="password" id="password" name="password" class="input" required>
                  <span></span>
                </div>
                <div class="inputf">
                  <label for="password2">Confirm Password</label><br>
                  <input type="password" id="password2" name="password2" class="input" required>

                  {% for message in messages %}
                    {% if message.extra_tags == "password" %}
                      <div class="msg">
                        <i class="fa-solid fa-circle-exclamation"></i> <span>{{message}}</span>
                      </div>
                    {% endif %}
                  {% endfor %}

                </div>
              </div> -->

              <div class="submit">
                <input type="submit" name="submit" class= "btn hov">
              </div>

            </form>
          </div>


        </div>
      </div>
    </main>
    {% endblock %}

    {% block script %}
    <script src="https://kit.fontawesome.com/fbd86bcea7.js" crossorigin="anonymous"></script>
    {% endblock %}
  </body>
</html>
